:root {
    --primary-yellow: #FFE500;
    --primary-grey: #313131;
    --light-yellow: #FFFCE6;
    --dark-yellow: #6F6300;
    --text-grey: #4F4F4F;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
}